DATABASE_URL=

NODE_ENV=
PORT=
SERVER_URL=
FRONTEND_URL=
REDIS_URL=

GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY=
GITHUB_SYSTEM_TOKEN=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


JWT_ACCESS_SECRET=              
JWT_REFRESH_SECRET=
JWT_MFA_SECRET=
JWT_ONBOARDING_SECRET=
JWT_EXPIRY=
JWT_REFRESH_EXPIRY=
JWT_ISSUER=
JWT_AUDIENCE=

AUTH_ENCRYPTION_KEY=
INTERNAL_API_KEY=

EVM_RPC_URL=
SOLANA_RPC_URL=

RESEND_API_KEY=
RESEND_FROM=
SENTRY_DSN=

RUN_WORKERS=